@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');
body, h1, h2 {
    font-family: 'Aldrich', sans-serif;
}
.clock-placeholder {
    font-size: 26px;
}
.time {
    font-size: 30px;
}
