@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

header {visibility: hidden;}
footer {visibility: hidden;}

.block-container {
    padding: 0;
    width: calc(1366px - 2rem);
    margin: 0 auto;
}

body, h1, h2, h3, em, .clock-placeholder {
    font-family: 'Azeret Mono', sans-serif;
    color: #000;
}
img {
    border-radius: 20px;
    margin-top: 64px;
}
.clock-placeholder {
    background: linear-gradient(240deg, rgba(229, 162, 67) 0%, rgba(247, 247, 170) 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 95px;
    text-transform: uppercase;
    border-radius: 20px;
    padding: 0;
    margin: 8px 0;
    line-height: normal;   
}
.time {
    font-size: 71px;
}

#weather {
    background: linear-gradient(240deg, rgba(252, 142, 190) 0%, rgba(252, 229, 195) 100%);
    color: #000;
    border-radius: 20px;
    padding: .5em;
    margin: 65px 0 8px;
    display: flex;
    font-family: 'Azeret Mono', sans-serif;
    font-size: 33px;
    justify-content: space-between;

}

.event-list {
    display: flex;
    flex-flow: row wrap;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 25px;
    font-family: 'Azeret Mono', sans-serif;
    column-gap: 16px;
}
.event-list .event {
    background: linear-gradient(240deg, rgba(151, 231, 209) 0%, rgba(236, 252, 195) 100%);
    color: #000;
    border-radius: 20px;
    padding: .5em;
    margin: 8px 0;
    width: calc(50% - 20px);
}
.event-list .time {
    font-size: 20px;
    font-weight: normal;
}
.event-list .date {
    display: flex;
    justify-content: space-between;
    padding: 15px 15px 0;
    width: 100%;
}

#swims, #steps {
    background-image: linear-gradient(240deg, rgba(124, 136, 224) 0%, rgba(195, 244, 252) 100%);
    color: #000;
    border-radius: 20px;
    padding: .5em 1em;
    margin: 8px 0;
    display: flex;
    justify-content: space-between;
    font-family: 'Azeret Mono', sans-serif;
    align-items: baseline;
    flex-flow: row wrap;
}
#swims .count, #steps .count {
    font-size: 48px;
}

 #food {
     background: linear-gradient(240deg, rgba(229, 162, 67) 0%, rgba(247, 247, 170) 90%);
     color: #000;
     border-radius: 20px;
     padding: 1em;
     margin: 8px 0;
     font-family: 'Azeret Mono', sans-serif;
    align-items: baseline;
    flex-flow: row wrap;
 }
#food p {
    font-family: "Azeret Mono", sans-serif;
    font-size: 25px;
    font-weight: 700;
}
 #food p .count {
     font-weight: normal;
     font-size: 16px;
 }

#gwen-goals, #william-goals, #sadie-goals {
    background: linear-gradient(240deg, rgba(185, 159, 237) 0%, rgba(237, 185, 218) 100%);
     color: #000;
     border-radius: 20px;
     padding: 1em;
     margin: 8px 0;
     font-family: 'Azeret Mono', sans-serif;    
}

#gwen-goals {
    margin-top: 0;
}

#gwen-goals em,
#william-goals em,
#sadie-goals em {
    font-weight: bold;
    font-size: 28px;
    font-style: normal;
    display: block;
}

