@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

body, h1, h2, .clock-placeholder {
    font-family: 'Azeret Mono', sans-serif;
}
.clock-placeholder {
    font-size: 28px;
}
.time {
    font-size: 30px;
}

.event-list {
    display: flex;
    flex-flow: column;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 25px;
    font-family: 'Azeret Mono', sans-serif;
}
.event-list .event {
    background: linear-gradient(240deg, #97e7d1 0%, #ecfcc3 50%);
}
