@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Macondo+Swash+Caps&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
/**
 * "Macondo Swash Caps", "cursive"
 * Macondo, cursive;
 * Raleway, sans-serif
 */

html {
    color: #fee9c5;
    background: #000; /*#3a372e; /*#0f1117;*/
    background: url(static/paper2.jpg) #3a372e;
    background-blend-mode: multiply;
    background-size: cover;
}

body  {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 16px;
    align-items: start;
    width: calc(1920px - 96px);/* 1920x1080 */
    padding: 61px 0 0;
    margin: 0.2em auto 0;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    line-height: 1.6;
    position: relative;
    height: 100vh;
    overflow: hidden;
}

body > div {
    display: flex;
    flex-flow: column;
    row-gap: 16px;
}

@media screen and ( max-height: 768px ) {
    header {visibility: hidden;}
    footer {visibility: hidden;}
}

div#error {
    color: rgba(220, 0, 0, 0);
    position: absolute;
    top: 3px;
    z-index: 12;
    font-size: 48px;
}

#error.events-error,
#error.work-error,
#error.swim-error,
#error.reads-error,
#error.dinner-error {
    color: rgba(220, 0, 0, 1);
}

h1, h2, h3, em, .clock-placeholder {
    font-family: "Macondo Swash Caps", cursive;
}

body, h1, h2, h3, em, .clock-placeholder {
    color: #fee9c5;
}

.clock-placeholder {
    background: linear-gradient(240deg, rgba(229, 162, 67) 0%, rgba(247, 247, 170) 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 90px;
    border-radius: 20px;
    padding: 0 20px;
    backdrop-filter: brightness(1.2) blur(6px);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 8px 24px;
}

#time, #date {
    display: block;
    width: 100%;
    font-family: Macondo, cursive;
    text-align: center;
}
#date {
    font-family: "Macondo Swash Caps", cursive;
    margin-top: -0.65em;
    padding-left: 25px;
    width: calc(100% - 25px);
}
#time {
    font-size: 65px;
    font-family: Macondo, cursive;
}

#weather {
    background: #ce336f; 
/*    background: linear-gradient(240deg, rgba(252, 142, 190) 0%, rgba(252, 229, 195) 100%);*/
    color: #fee9c5;
/*    color: #000;*/
    border-radius: 20px;
    padding: .5em;
    display: flex;
    font-family: "Macondo Swash Caps", sans-serif;
    font-size: 33px;
    justify-content: space-between;
    position: relative;
}

.event-list {
    display: flex;
    flex-flow: row wrap;
    font-weight: bold;
    font-size: 25px;
    gap: 16px;
    justify-content: space-between;
    color: #009391;
}

.event-list:not(.work) {
    margin-top: -59px;
    /*max-height: 1000px;*/
    /*overflow: scroll;*/
}

.event-list .event {
    color: black;
    background: linear-gradient(240deg, rgba(151, 231, 209) 0%, rgba(236, 252, 195) 100%);
    background: #ce336f;
    color: #000;
    color: #fee9c5;
    border-radius: 20px;
    padding: .5em;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.event-list .time {
    font-size: 20px;
    font-weight: normal;
}
.event-list .date {
    font-family: "Macondo Swash Caps", cursive;
    color: #fee9c5;
    display: flex;
    justify-content: space-between;
    padding: 15px 15px 5px;
    margin: 0 auto -19px;
    width: auto;
}

.work .event {
    background: #4f9d50;
    width: calc(50% - 33px);
}

span.date:last-child {
    display: none;
}

#swims, #steps {
/*    background-image: linear-gradient(240deg, rgba(124, 136, 224) 0%, rgba(195, 244, 252) 100%);*/
/*    background: #837a6d;*/
    color: #fee9c5;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    column-gap: .5em;
    line-height: 1em;
    height: 260px;
    justify-content: right;
    position: relative;
    font-size: 30px;
    border-radius: 20px;
    backdrop-filter: brightness(1.2) blur(6px);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 8px 24px;
}
#swims:after, #steps:after {
    position: absolute;
    width: 100%;
    height: 100%;
    content: " ";
    /*background-size: 22px 22px;
    background-image: radial-gradient(circle, #3a372e 1px, rgba(0, 0, 0, 0) 1px);
    background-position: -3px -3px;*/
}
#swims .count, #steps .count {
    font-size: 90px;
    font-family: 'Macondo';
}

#swims img,
#steps img {
    margin-bottom: -92px;
    width: 100%;
}

 #food {
     position: relative;
/*     background: linear-gradient(240deg, rgba(229, 162, 67) 0%, rgba(247, 247, 170) 90%);*/
     background: #009391;
     color: #fee9c5;
     border-radius: 20px;
     padding: 1em;
     align-items: baseline;
     flex-flow: row wrap;
 }
#food p {
    font-family: "Raleway", sans-serif;
    font-size: 25px;
    font-weight: 700;
}
 #food p .count {
     font-weight: normal;
     font-size: 16px;
 }
#goals div {
    margin-bottom: 16px;
}
#palworld, #movie-list, #game-list, #goals div {
/*    background: linear-gradient(240deg, rgba(185, 159, 237) 0%, rgba(237, 185, 218) 100%);*/
    background: #d88036;
/*     color: #000;*/
     color: #fee9c5;
     border-radius: 20px;
     padding: 1em;
     position: relative;
     overflow: hidden;
}

#movie-list {
    background: #4f9d50;
}
#palworld .fa-solid,
#movie-list .fa-solid,
#game-list .fa-solid,
#swims .fa-solid,
#steps .fa-solid,
#weather .big-icon,
#food .fa-solid,
#goals div .fa-solid:not(.fa-circle-check),
.work .fa-solid,
.event .fa-brands, 
.event .fa-solid {
    position: absolute;
    font-size: 80px;
    opacity: 85%;
    right: 20px;
    top: 50%;
    margin-top: -18px;
    mix-blend-mode: soft-light;
}

.work {
    position: relative;
    display: flex;
    flex-flow: row wrap;
}
#work1, #work2 {
    white-space: pre-wrap;
}
#work2 {
    padding-left: 60px;
    display: inline-block;
    text-align: right;
}
.work .event {
    overflow: hidden;
}
.work .fa-solid {
    right: -63px;
    top: 22px;
    font-size: 100px;
    mix-blend-mode: soft-light;
    color: #fee9c5;
}

.work .event:nth-child(even) .fa-solid {
    right: unset;
    left: -60px;
    
}

#game-list .fa-solid,
#movie-list .fa-solid {
    bottom: calc(50% - 45px);
    top: auto;
    transform: rotate(-10deg);
}

.game-item:last-child,
.movie-item:last-child {
    margin-bottom: -1em;
}

.fa-book {
    transform: rotate(-10deg);
}

#weather .big-icon {
    margin-top: -40px;
}

#goals #will-goals {
/*     background: linear-gradient(240deg, #ee9ca7 0%, #ffdde1 100%);*/ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: #009391;
}

#goals #sadie-goals {
/*    background: linear-gradient(240deg, #FC5C7D 0%, #6A82FB 100%);*/
    background: #4f9d50;
}

#goals #gavin-goals {
    background: #ce336f; 
}

#palworld {
    background: #ce336f; 
}

#palworld em,
#movie-list em,
#game-list em,
#goals div em {
    font-weight: bold;
    font-size: 28px;
    font-style: normal;
    display: block;
}

iframe {
    border-radius: 20px;
}
iframe {
    height: 275px;
    border: none;
    width: 100%;
    border-radius: 20px;
    transform: rotate(180deg);
}
