{% for person_name, person_data in goals.items() %}
    {% set person_icon = {
        'gavin': 'fa-solid fa-palette',
        'will': 'fa-solid fa-paper-plane',
        'gwen': 'fa-solid fa-cat',
        'sadie': 'fa-solid fa-triangle-exclamation'
    }.get(person_name|lower, 'fa-solid fa-bullseye') %}
    <div id="{{person_name|lower}}-goals">
        <em>{{person_name}} Summer Goals</em>
        <i class="{{ person_icon }}"></i>
        {% for goal in person_data.goals %}
            <i class="{% if goal.status == 1 %}fa-regular fa-circle-check{% else %}fa-regular fa-circle{% endif %}"></i> 
                {{ goal.goal
            |replace('{{gwen_read}}', gwen_read|string)
            |replace('{{will_read}}', will_read|string)
            |replace('{{gavin_read}}', gavin_read|string)
            |replace('{{zoe_read}}', zoe_read|string)
            |replace('{{sadie_read}}', sadie_read|string)
        }}<br>
        {% endfor %}
    </div>
{% endfor %}